body{

  background: rgba(255, 200, 100, 0.5);
  color: #0af;

}

body > header > h3{

background: #fff;
color: #0f0;


}

h3{
  color: #000;
  margin: 10px;
  margin-top: 20px;
  padding: 50px;


/* to add more space between the element and the content within the element
i will have to use padding for that */
}

h1{

  float: left;


}
